/* src/index.css */
:root {
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f7fafc; /* Matches gray.50 */
}

#root {
  display: block;
  width: 100%;
  height: 100%;
}